.nuevoProveedor{
    &__item{
        width: auto;
        height: 100%;
        font-size: 12px;
        line-height: 34px;
        color: black;
        font-weight: bold;
        font-family: $font;
        list-style: none;
        text-align: center;
        border: 1px solid gray;
        padding: 5px;
        &--white{
            @extend .nuevoProductos__item;
            background-color: white;
            color: black;
        }
    }
}