.usercalendar{
   width: 70px;
   height: 90px; 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   &--flex{
    @extend .usercalendar;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    //background-color: #87bfff;
   }
    &__profile{
        width: 60px;
        height: 67px;
        border-radius: 100%;
        border: 1px solid #87bfff;
        background-color: #cde4ff;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            color: #037aff;
        }
        &--flex{
            @extend .usercalendar__profile;
            width: 60px;
            height: 60px;
            margin-right: 7%;
        }
    }

}