@font-face {
    font-family: 'Cedora' ;
    src:    url('../assets/fonts/cedora/Cedora-RegularStd.otf')format('opentype'),
            url('../assets/fonts/cedora/Cedora-RegularItalicStd.otf')format('opentype'),
            url('../assets/fonts/cedora/Cedora-BoldStd.otf')format('opentype'),
            url('../assets/fonts/cedora/Cedora-BoldItalicStd.otf')format('opentype');
    font-weight: 400;
	font-style: normal;
}
$font:'Cedora';


.title-3{
    font-family: $font;
    font-size: 22px;
    line-height: 43px;
    color: #000000;
    font-weight: bold;

}
.subtitle{
    font-size: 50px;
    line-height: 43px;
    color: $color-yellow;
    font-weight: bold;
    font-family: $font; 
}
.title-4{
    font-size: 27px;
    line-height: 27px;
    color: #f6c94c;
    font-weight: bold;
    font-family: $font;
}
.caption{
    font-family: $font;
    font-size: 20px;
    line-height: 23px;
    color: #6f7173;
    font-weight: bold;
    text-align: center;
    &--sm{
        @extend .caption;
        font-weight: 400;
        font-size: 18px;
    }
}
.label-title{
    font-family: $font;
    font-size: 16px;
    line-height: 23px;
    color: black;
}
.label-lg{
    height: 55px;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    font-family: "Cedora";
}
h1{
    @extend h3;
    color: #000000;
}

.bold{
    font-size: 18px;
    line-height: 43px;
    color: #000000;
    font-weight: bold;
    font-family: $font;
}
.body-sm{
    font-size: 20px;
    line-height: 27px;
    color: $color-yellow;
    font-family: "Cedora";
}
.body-md{
    font-size: 24px;
    line-height: 33px;
    color: #f6c94c;
    font-weight: 500;
    font-family: $font;
}
.add-line{
    font-size: 25px;
    line-height: 33px;
    color: #0060ff;
    font-family: $font;
}
.caption-lg{
    font-size: 20px;
    line-height: 33px;
    color: #939495;
    font-weight: bold;
    font-family: $font;
}

.config-title{
    font-size: 30px;
    line-height: 33px;
    color: #101928;
    font-weight: bold;
    font-family: $font;

}
.config-span{
    font-size: 20px;
    line-height: 27px;
    color: #35383c;
    font-family: $font;
}
.config-item{
    font-size: 18px;
    line-height: 17px;
    color: #005ffd;
    font-family: $font;
}