.listaClientes{
    @extend .prima;
    &__header{
        @extend .prima__header;
        border: unset;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

    }
}