.header{

    grid-area: header;
    background-color: $color-yellow;
    display: flex;
    align-items: center;
    //justify-content: space-between;
    padding-left: 10%;
    padding-right: 2%;
    height: 94px;
    &__icon{
        width: auto;
        height: 100%;
        display: flex;
        margin-left: 40%;
        
    }
    &__figure{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: aqua;
        margin-left: 10%;
    }
}